<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Upload:</strong>
  <%= @picture.upload %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @picture.trip_id %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
